<br>
<div class="row">
    <!-- <div class="col-3">
        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action active" routerLink="/dashboard">Dashboard</a>
            <a href="#" class="list-group-item list-group-item-action" routerLink="/accounts">Accounts</a>
            <a href="#" class="list-group-item list-group-item-action" routerLink="/products">Porducts</a>
            <a href="#" class="list-group-item list-group-item-action" routerLink="/part-inward">Parts Inward</a>
            <a href="#" class="list-group-item list-group-item-action" routerLink="/groups">Groups</a>
            <a href="#" class="list-group-item list-group-item-action" routerLink="/categorys">Category</a>
            <a href="#" class="list-group-item list-group-item-action" routerLink="/users">Users</a>
        </div>
    </div> -->

    <ng-template #notFoundTemplate let-notFound>
        <div [innerHTML]="notFound"></div>
    </ng-template>
    <div class="col-12">
        <h2>
            <a href="#" routerLink="/jobs">
                <i class="bi bi-arrow-left-square-fill"></i>
            </a> Job Card
        </h2><br>
        <div class="row" *ngIf="loadedAllJob">
            <div class="col-12">
                <h4>Running Services</h4>
                <div class="d-grid gap-3 d-md-block custom-btn">
                    <!-- {{currentJob && cardData ? cardData[currentJob-1].status: 'no'}} -->
                    <!-- 'btn-success': getCard(button)?.status === 'Complete' and && getCard(button)?.status !=='Complete' -->
                    <!-- <button type="button" (click)="checkJob(button)" *ngFor="let button of cards; let i=index"
                        class="btn btn-lg"
                        [ngClass]="{'btn-info': currentJob !== button && cardsStatus[button]?.status !=='Running', 'btn-danger': currentJob === button, 'btn-primary': cardsStatus[button]?.status ==='Running' }">
                        {{button}}
                    </button> -->
                    <button (click)="checkJob(button)" *ngFor="let button of cards; let i=index">
                        {{button}}<i class="bi bi-bus-front"
                            [ngClass]="{'text-info': currentJob !== button && cardsStatus[button]?.status !=='Running', 'text-danger': currentJob === button, 'text-primary': cardsStatus[button]?.status ==='Running' }"></i>
                    </button>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-12 text-end">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addNewProduct">
                    Add New Product
                </button> &nbsp;&nbsp;
                <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                    data-bs-target="#accountModal">Accounts</button> &nbsp;&nbsp;
                <button type="button" class="btn btn-warning" routerLink="/jobs">Show History</button>
            </div>
        </div>
        <hr>
        <form [formGroup]="jobCardForm">

            <div class="row">
                <div class="col-2">
                    Job Card No
                    <input class="form-control" type="text" readonly formControlName="jobCardNo" />
                    <!-- <label></label> -->
                </div>
                <div class="col-1">
                    Job Record
                    <input class="form-control" type="number" readonly formControlName="recordNo" />
                </div>
                <div class="col-3">
                    Job Card Date
                    <input #jobCardDateElement class="form-control" type="date" formControlName="jobCardDate" />
                </div>
                <div class="col-3">
                    Bill Date
                    <input class="form-control" type="date" formControlName="billDate" />
                </div>
                <div class="col-3">
                    Payment Mode
                    <!-- <input class="form-control" type="text" formControlName="paymentMode" /> -->
                    <select class="form-select form-control" aria-label="Default select" id="paymentMode"
                        formControlName="paymentMode" autofocus>
                        <option value="" disabled selected>Select Mode</option>
                        <option [selected]="mode===jobCardForm.value.paymentMode" [value]="mode"
                            *ngFor="let mode of modes; let i = index">
                            {{mode}}
                        </option>
                    </select>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-3">
                    Vehicle/Reg. Number
                    <!-- <select class="form-select form-control" aria-label="Default select" id="supplierName"
                        formControlName="supplierName">
                        <option value="" disabled selected>Select supplierName</option>
                        <option [value]="account.accountName" *ngFor="let account of accounts; let i = index">
                            {{account.accountName}}
                        </option>
                    </select> -->
                    <ng-autocomplete [data]="vehicles" [searchKeyword]="'vehicleNumber'" placeholder="Select Reg. No."
                        [itemTemplate]="itemTemplate" [notFoundTemplate]="notFoundTemplate"
                        (selected)='setVehicle($event)' formControlName="registrationNumber">
                    </ng-autocomplete>
                    <ng-template #itemTemplate let-item>
                        <a [innerHTML]="item.vehicleNumber"></a>
                    </ng-template>
                </div>
                <div class="col-3">
                    Vehicle/Model Name
                    <input class="form-control" type="text" formControlName="modelName" />
                </div>
                <div class="col-3">
                    Chasis Number
                    <input class="form-control" type="text" formControlName="chasisNumber" />
                </div>
                <div class="col-3">
                    Engine Number
                    <input class="form-control" type="text" formControlName="engineNumber" />
                </div>

            </div>
            <br>
            <div class="row">
                <div class="col-3">
                    KM Covered
                    <input class="form-control" type="number" formControlName="kmCovered" />
                </div>
                <div class="col-3">
                    Engine Oil Change<br>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="Yes" formControlName="oilChange"
                            name="oilChange" id="oilChangeYes" [checked]="true">
                        <label class="form-check-label" for="oilChangeYes">
                            Yes
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="No" formControlName="oilChange"
                            name="oilChange" id="oilChangeNo">
                        <label class="form-check-label" for="oilChangeNo">
                            No
                        </label>
                    </div>
                </div>
                <div class="col-3">
                    Mechanic Name
                    <!-- <input class="form-control" type="text" formControlName="mechanicName" /> -->
                    <ng-autocomplete [data]="mechanics" [searchKeyword]="'accountName'" placeholder="Select Machanic"
                        [itemTemplate]="itemTemplate1" [notFoundTemplate]="notFoundTemplate1"
                        (selected)='setMachanic($event)' formControlName="mechanicName">
                    </ng-autocomplete>
                    <ng-template #itemTemplate1 let-item>
                        <a [innerHTML]="item.accountName"></a>
                    </ng-template>
                    <ng-template #notFoundTemplate1 let-notFound>
                        <!-- <div [innerHTML]="notFound"></div> -->
                        <div>Not found, Click to <button type="button" class="btn btn-primary" (click)="addWorker()">Add
                                Worker</button></div>

                    </ng-template>
                    <!-- <button type="button" class="btn btn-primary" (click)="addWorker()">+</button> -->
                </div>
                <div class="col-3">
                    Problem
                    <!-- <input class="form-control" type="text" formControlName="problem" /> -->
                    <textarea class="form-control" id="comment" formControlName="problem" rows="2"></textarea>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-2">
                    Part No
                    <!-- <input class="form-control" type="text" formControlName="partNo" /> -->
                    <!-- <select class="form-select form-control" (change)="setProductField()" aria-label="Default select"
                        id="partNo" formControlName="partNo">
                        <option value="" disabled selected>Select Part No</option>
                        <option [value]="product.partNumber" *ngFor="let product of products; let i = index">
                            {{product.partNumber}}
                        </option>
                    </select> -->
                    <ng-autocomplete #partNo [data]="products" formControlName="partNo" [searchKeyword]="'partNumber'"
                        placeholder="Select Part No" [itemTemplate]="partNoTemplate" [initialValue]="selectedProduct"
                        [notFoundTemplate]="notFoundTemplate" (selected)='setPartNo($event)'>
                    </ng-autocomplete>
                    <ng-template #partNoTemplate let-item>
                        <a [innerHTML]="item.partNumber"></a>
                    </ng-template>

                </div>
                <div class="col-2">
                    Part Name
                    <!-- <input class="form-control" type="text" formControlName="partName" /> -->
                    <!-- <select class="form-select form-control" aria-label="Default select" id="partName"
                        formControlName="partName">
                        <option value="" disabled selected>Select Part Name</option>
                        <option [value]="product.partName"
                            [selected]="product.partName === jobCardForm.value.partName"
                            *ngFor="let product of products; let i = index">
                            {{product.partName}}
                        </option>
                    </select> -->
                    <ng-autocomplete [data]="products" formControlName="partName" [searchKeyword]="'partName'"
                        [initialValue]="selectedProduct" placeholder="Select Part Name"
                        [itemTemplate]="partNameTemplate" [notFoundTemplate]="notFoundTemplate"
                        (selected)='setPartName($event)'>
                    </ng-autocomplete>
                    <ng-template #partNameTemplate let-item>
                        <a [innerHTML]="item.partName"></a>
                    </ng-template>
                </div>
                <div class="col-1">
                    Quantity
                    <input class="form-control" type="number" (blur)="setAmount()" formControlName="quantity" />
                </div>
                <div class="col-1">
                    Unit
                    <input class="form-control" type="text" formControlName="unit" />
                </div>
                <div class="col-1">
                    Rate
                    <input class="form-control" type="number" formControlName="rate" />
                    <!-- <span>{{selectedProduct ? selectedProduct.saleRate: ''}}</span> -->
                </div>
                <!-- <div class="col-1">
                    Discount %
                    <input class="form-control" type="number" (blur)="setDiscount()"
                        formControlName="discountPercentage" />
                </div>
                <div class="col-1">
                    Discount
                    <input class="form-control" type="number" readonly formControlName="discount" />
                </div>
                <div class="col-1">
                    GST%
                    <input class="form-control" type="number" (blur)="setGST()" formControlName="gstPercentage" />
                </div>
                <div class="col-1">
                    GST
                    <input class="form-control" type="number" formControlName="gst" readonly />
                </div> -->
                <div class="col-2">
                    Amount
                    <input class="form-control" type="number" (blur)="addData()" readonly formControlName="netAmount" />
                </div>

            </div>
            <br>
            <div class="row" *ngIf="selectedIndex > -1 && selectedProduct">
                <div class="col-2">
                    <button type="button" class="btn btn-warning" (click)="cancelUpdate()">Cancel</button>&nbsp;
                    <button type="button" class="btn btn-success" (click)="update()">Update</button>
                </div>
            </div>

            <div class="row" *ngIf="!(selectedIndex > -1 && selectedProduct)">
                <div class="col-2">
                    <!-- <button type="button" class="btn btn-warning" (click)="cancelUpdate()">Cancel</button>&nbsp; -->
                    <!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                        data-bs-target="#addNewProduct">
                        Add New Product
                    </button> -->

                </div>
                <div class="col-2"></div>
                <!-- {{getAvailableQuantity(jobCardForm.value.partName)}} -->
                <!-- <div class="col-4" *ngIf="jobCardForm.value.partName.quantity <= 10">
                    <span class="text-danger">Available Stock:

                        {{jobCardForm.value.partName.quantity}}</span> &nbsp;
                    <button type="button" class="btn btn-warning" (click)="addToSupplyOrder()">
                        Add to Supply Order
                    </button>
                </div> -->
                <div class="col-4"
                    *ngIf="jobCardForm.value.partName.partNumber && getAvailableQuantity(jobCardForm.value.partName) <=10">
                    <span class="text-danger">Available Stock:
                        {{getAvailableQuantity(jobCardForm.value.partName)}}</span> &nbsp;
                    <button type="button" class="btn btn-warning" (click)="addToSupplyOrder()"
                        *ngIf="prodcutSupplier[jobCardForm.value.partNo.partNumber] && !prodcutSupplier[jobCardForm.value.partNo.partNumber].orderPlaced">
                        Add to Supply Order
                    </button>
                    <label class="text-success"
                        *ngIf="prodcutSupplier[jobCardForm.value.partNo.partNumber] && prodcutSupplier[jobCardForm.value.partNo.partNumber].orderPlaced">Order
                        placed
                        successfully.</label>
                </div>
            </div>

            <div class="modal fade" id="addNewProduct" tabindex="-1" aria-labelledby="addNewProductLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="addNewProductLabel">New Product</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form [formGroup]="productForm">
                                <div class="row">
                                    <div class="col-3">
                                        Part Number:
                                        <input id="partNumber" class="form-control" type="text"
                                            formControlName="partNumber" />
                                    </div>
                                    <div class="col-3">
                                        Part Name:
                                        <input id="partName" class="form-control" type="text"
                                            formControlName="partName" />
                                    </div>
                                    <div class="col-3">
                                        Sale Rate:
                                        <input id="saleRate" class="form-control" type="text"
                                            formControlName="saleRate" />
                                    </div>
                                    <div class="col-3">
                                        Quantity:
                                        <input id="quantity" class="form-control" type="text"
                                            formControlName="quantity" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-3">
                                        Unit:
                                        <input id="unit" class="form-control" type="text" formControlName="unit" />
                                    </div>
                                    <div class="col-3">
                                        Store Location:
                                        <input id="storeLocation" class="form-control" type="text"
                                            formControlName="storeLocation" />
                                    </div>
                                    <div class="col-3">
                                        Ledger Page Number:
                                        <input id="ledgerPageNumber" class="form-control" type="text"
                                            formControlName="ledgerPageNumber" />
                                    </div>
                                    <div class="col-3">
                                        Category:
                                        <select class="form-select form-control" aria-label="Default select"
                                            id="category" formControlName="category">
                                            <option selected>Select Category</option>
                                            <option [value]="cat._id" *ngFor="let cat of categorys; let i = index">
                                                {{cat.categoryName}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </form>


                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                                #closebutton>Close</button>
                            <button type="button" class="btn btn-primary" (click)="addNewProduct()">Save</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <hr>
                    <table class="table table-striped table-hover" id="excel-table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Part No</th>
                                <th scope="col">Part Name</th>
                                <th scope="col">Category</th>
                                <th scope="col" class="text-right">Qty</th>
                                <th scope="col">Unit</th>
                                <th scope="col" class="text-right">Rate</th>
                                <!-- <th scope="col" class="text-right">Dis%</th>
                                <th scope="col" class="text-right">Dis AMT</th>
                                <th scope="col" class="text-right">Gross</th>
                                <th scope="col" class="text-right">SGST%</th>
                                <th scope="col" class="text-right">SGST Amt</th>
                                <th scope="col" class="text-right">CGST%</th>
                                <th scope="col" class="text-right">CGST Amt</th> -->
                                <th scope="col" class="text-right">Net Amount</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let pi of spareParts;let i=index">
                                <th scope="row">{{i+1}}</th>
                                <td>{{pi.partNo}}</td>
                                <td>{{pi.partName}}</td>
                                <td>{{categroysObj[pi.categoryId]}}</td>
                                <td class="text-right">{{pi.quantity}}</td>
                                <td>{{pi.unit}}</td>
                                <td class="text-right">{{pi.rate}}</td>
                                <!-- <td class="text-right">{{pi.discountPercentage}}%</td>
                                <td class="text-right">{{pi.discount}}</td>
                                <td class="text-right">{{pi.grossAmount}}</td>
                                <td class="text-right">{{pi.sgstPercentage}}%</td>
                                <td class="text-right">{{pi.sgstAmount}}</td>
                                <td class="text-right">{{pi.cgstPercentage}}%</td>
                                <td class="text-right">{{pi.cgstAmount}}</td> -->
                                <td class="text-right">{{pi.netAmount}}</td>
                                <td>
                                    <i class="bi bi-pencil-square" (click)="editData(i)"></i>&nbsp;
                                    <i class="bi bi-trash3" (click)="deleteData(i)"></i>
                                </td>
                            </tr>
                            <tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-6">
                    Item Description
                    <textarea class="form-control" id="comment" formControlName="comment" rows="3"></textarea>
                </div>
                <div class="col-3">
                    Net Amount
                    <input class="form-control" type="text" readonly formControlName="totalNetAmount" />
                </div>
                <div class="col-3">
                    Process<br>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="Running" formControlName="status"
                            name="status" id="statusRunning" [checked]="true">
                        <label class="form-check-label" for="statusRunning">
                            Running
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="Complete" formControlName="status"
                            name="status" id="statusComplete">
                        <label class="form-check-label" for="statusComplete">
                            Complete
                        </label>
                    </div>
                </div>
            </div>
            <br>
            <hr>
            <div class="row">
                <div class="col-6">
                    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                        <button type="button" class="btn btn-dark" (click)="loadJob('first')">First</button>
                        <button type="button" class="btn btn-dark" (click)="loadJob('previous')">Previous</button>
                        <button type="button" class="btn btn-dark" (click)="loadJob('next')">Next</button>
                        <button type="button" class="btn btn-dark" (click)="loadJob('last')">Last</button>
                    </div>
                </div>
                <div class="col-6">
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <!-- <button type="button" class="btn btn-warning" (click)="reset()">Reset</button> -->
                        <!-- <button type="button" class="btn btn-warning" routerLink="/jobs">Find</button> -->
                        <button type="button" class="btn btn-primary pull-right" [disabled]="jobCardForm.invalid"
                            (click)="saveJob()">Save
                            Job</button>
                        <button type="button" class="btn btn-success"
                            [disabled]="jobCardForm.invalid || jobCardForm.value.status ==='Running'"
                            (click)="report()">Generate Bill</button>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-12">
                    <!-- <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                        <button type="button" class="btn btn-warning" routerLink="/jobs">Find</button>
                        <button type="button" class="btn btn-primary pull-right" (click)="saveJob()">Save
                            Product</button>
                        <button type="button" class="btn btn-success" (click)="report()">Print Invoice</button>
                    </div> -->
                </div>
            </div>
            <div class="modal fade" id="accountModal" tabindex="-1" aria-labelledby="addNewProductLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="addNewProductLabel">Accounts</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <app-accounts-master></app-accounts-master>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                                #closebutton>Close</button>
                            <button type="button" class="btn btn-primary" (click)="addNewProduct()">Save</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="position-fixed top-10 end-0 p-3" style="z-index: 9999">
                <div #toast class="toast" role="alert" data-bs-animation="true" aria-live="assertive"
                    aria-atomic="true">
                    <div class="toast-header">
                        <!-- <i class="bi bi-card-checklist"></i> -->
                        <i class="bi bi-window rounded me-2 text-success"></i>
                        &nbsp;
                        <strong class="me-auto text-success">Job</strong>
                        <small>just now</small>
                        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                    <div class="toast-body text-success">
                        Job saved successfully.
                    </div>
                </div>
            </div>
            <br><br>
        </form>
    </div>
</div>