<br>
<div class="row">
    <!-- <div class="col-2">
        <app-menus></app-menus>
    </div> -->
    <div class="col-12">
        <div *ngIf="!showNewProductForm">
            <h2>Products</h2>
            <div class="row">
                <div class="col-lg-3 col-sm-6 col-md-3 col-xs-12">
                    <!-- <span>Filter By Category</span> -->
                    <select #mySelect (change)='filterResults(mySelect.value)' class="form-select form-control"
                        aria-label="Default select">
                        <option selected value="">Filter By Category</option>
                        <option [value]="cat._id" *ngFor="let cat of categorys; let i = index">
                            {{cat.categoryName}}
                        </option>
                    </select>
                </div>
                <div class="col-lg-3 col-sm-6 col-md-3 col-xs-12">
                    <!-- <span>Filter</span> -->
                    <input placeholder="Filter By Part No or Part Name" type="text" class="form-control"
                        [(ngModel)]="partNo">
                    <br>
                </div>
                <div class="col-lg-6 col-sm-12 col-md-6 col-xs-12">
                    <div class="d-grid gap-2 d-sm-flex  d-md-flex justify-content-md-end">
                        <input *ngIf="showFileUpload" type="file" class="file-upload" (change)="onFileChange($event)">
                        <button *ngIf="showFileUpload" type="button" class="btn btn-danger"
                            (click)="uploadFile()">Upload</button>
                        <!-- <button *ngIf="!showFileUpload" type="button" class="btn btn-warning"
                            (click)="importData()">Import
                            Products</button> -->
                        <button type="button" class="btn btn-warning" (click)="exportToExcel()">
                            <i class="bi bi-box-arrow-in-down"></i> Export Products</button>
                        <!-- <button type="button" class="btn btn-info">Info</button> -->
                        <button type="button" class="btn btn-primary pull-right" (click)="newProduct()">New
                            Product</button>
                    </div>
                </div>
            </div>
            <hr>
            <!-- <ul class="list-group pop-up" *ngIf="1 === showPopup">
                <li class="list-group-item">An item</li>
                <li class="list-group-item">A second item</li>
                <li class="list-group-item">A third item</li>
                <li class="list-group-item">A fourth item</li>
                <li class="list-group-item">And a fifth one</li>
            </ul> -->
            <div class="table-responsive">
                <table class="table table-striped table-hover" id="excel-table">
                    <thead>
                        <tr>
                            <th scope="col" width="50">#</th>
                            <th scope="col">Part No</th>
                            <th scope="col" width="200">Part Name</th>
                            <th scope="col" width="120">Category</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Rate</th>
                            <th scope="col">Purchase Rate</th>
                            <th scope="col">Unit</th>
                            <th scope="col">Store Loc.</th>
                            <th scope="col">L. Page No.</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let product of data| filterPipe : partNo;let i=index">
                            <tr (click)="toggleDetails(i, product)" [ngClass]="{'table-info': selectedRowIndex === i}">
                                <th scope=" row" width="50">{{i+1}}</th>
                                <td>{{product.partNumber}}</td>
                                <td width="200">{{product.partName}}</td>
                                <td width="120">{{categroysObj[product.category]}}</td>
                                <td>{{(product.quantity?product.quantity:0) + (stockPurchased[product.partNumber] ?
                                    stockPurchased[product.partNumber]:0) -
                                    (stockConsumed[product.partNumber]? stockConsumed[product.partNumber]:0)}}</td>
                                <td>{{product.saleRate}}</td>
                                <td>{{product.newRate?product.newRate.toFixed(2):0}}</td>
                                <td>{{product.unit}}</td>
                                <td>{{product.storeLocation}}</td>
                                <td>{{product.ledgerPageNumber}}</td>
                                <td>
                                    <i class="bi bi-pencil-square" (click)="editProduct(product)"
                                        title="Edit"></i>&nbsp;&nbsp;
                                    <i class="bi bi-trash3" (click)="deleteProduct(product._id)" title="Delete"></i>
                                </td>
                            </tr>
                            <tr *ngIf="selectedRowIndex === i" class="table-light">
                                <td colspan="5">
                                    <label>Purchased Details:</label>
                                    <table class="table " *ngIf="stockPurchasedData[product.partNumber]">
                                        <thead>
                                            <tr>
                                                <th width="50">#</th>
                                                <th width="50">Tr. No.</th>
                                                <th>Invoice No.</th>
                                                <th>Date</th>
                                                <th>Supplier</th>
                                                <th class="text-end">Qty</th>
                                                <th class="text-end">Net Amount</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr
                                                *ngFor="let item of stockPurchasedData[product.partNumber]; let j=index">
                                                <th width="50">{{j+1}}</th>
                                                <td width="50">{{item.transactionNo}}</td>
                                                <td>{{item.supplierInvoiceNo}}</td>
                                                <td>{{item.date}}</td>
                                                <td>{{item.supplierName}}</td>
                                                <td class="text-end">{{item.quantity}}</td>
                                                <td class="text-end">{{item.total}}</td>
                                            </tr>
                                            <tr>
                                                <td colspan="4"></td>
                                                <td colspan="2">
                                                    <strong>Total: {{stockPurchasedTotal[product.partNumber] | number :
                                                        '1.2-2'}}</strong>
                                                </td>
                                            </tr>
                                        </tbody>

                                    </table>
                                    <label class="alert" *ngIf="!stockPurchasedData[product.partNumber]">No Purchase
                                        Data
                                        Found</label>
                                </td>
                                <td colspan="6">
                                    <label>Consumed Details:</label>

                                    <table class="table " *ngIf="stockConsumedData[product.partNumber]">
                                        <thead>
                                            <tr>
                                                <th width="50">#</th>
                                                <th width="50">Job No</th>
                                                <th width="100">Date</th>
                                                <th>Vehicle</th>
                                                <th>Qunaity</th>
                                                <th>Net Amount</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let item of stockConsumedData[product.partNumber]; let j=index">
                                                <th width="50">{{j+1}}</th>
                                                <td width="50">{{item.jobCardNo}}</td>
                                                <td width="100">{{item.jobCardDate}}</td>
                                                <td>{{item.registrationNumber}}</td>
                                                <td>{{item.quantity}}</td>
                                                <td>{{item.total}}</td>
                                            </tr>
                                            <tr>
                                                <td colspan="4">
                                                </td>
                                                <td colspan="2">
                                                    <strong>Total {{stockConsumedTotal[product.partNumber] | number :
                                                        '1.2-2'}}</strong>
                                                </td>
                                            </tr>
                                        </tbody>

                                    </table>
                                    <label class="alert" *ngIf="!stockConsumedData[product.partNumber]">No Consumed Data
                                        Found</label>
                                </td>
                            </tr>
                        </ng-container>

                        <!-- <tr *ngFor="let product of data| filterPipe : partNo;let i=index" (mouseover)="showPopup = i"
                        (mouseout)="showPopup=-1">
                        <th scope=" row" width="50">{{i+1}}</th>
                        <td>{{product.partNumber}}</td>
                        <td width="200">{{product.partName}}</td>
                        <td width="120">{{categroysObj[product.category]}}</td>
                        <td>{{(product.quantity?product.quantity:0) + (stockPurchased[product.partNumber] ?
                            stockPurchased[product.partNumber]:0) -
                            (stockConsumed[product.partNumber]? stockConsumed[product.partNumber]:0)}}</td>
                        <td>{{product.saleRate}}</td>
                        <td>{{product.newRate?product.newRate.toFixed(2):0}}</td>
                        <td>{{product.unit}}</td>
                        <td>{{product.storeLocation}}</td>
                        <td>{{product.ledgerPageNumber}}</td>
                        <td>
                            <i class="bi bi-pencil-square" (click)="editProduct(product)" title="Edit"></i>&nbsp;&nbsp;
                            <i class="bi bi-trash3" (click)="deleteProduct(product._id)" title="Delete"></i>
                        </td>
                    </tr> -->
                    </tbody>
                </table>
            </div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">Next</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div *ngIf="showNewProductForm" class="col-lg-4 col-md-4 col-xs-12">
            <h2>Products</h2>
            <form [formGroup]="productForm">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Product Details:</li>
                    <li class="list-group-item">Part Number:
                        <span *ngIf="!editProductFlag">{{product.partNumber}}</span>
                        <input *ngIf="editProductFlag" id="partNumber" class="form-control" type="text"
                            formControlName="partNumber" />
                    </li>
                    <li class="list-group-item">Part Name:
                        <span *ngIf="!editProductFlag">{{product.partName}}</span>
                        <input *ngIf="editProductFlag" id="partName" class="form-control" type="text"
                            formControlName="partName" />
                    </li>
                    <li class="list-group-item">Rate:
                        <span *ngIf="!editProductFlag">{{product.saleRate}}</span>
                        <input *ngIf="editProductFlag" id="saleRate" class="form-control" type="text"
                            formControlName="saleRate" />
                    </li>
                    <li class="list-group-item">Quantity:
                        <span *ngIf="!editProductFlag">{{product.quantity}}</span>
                        <input *ngIf="editProductFlag" id="quantity" class="form-control" type="text"
                            formControlName="quantity" />
                    </li>
                    <li class="list-group-item">Unit:
                        <span *ngIf="!editProductFlag">{{product.unit}}</span>
                        <input *ngIf="editProductFlag" id="unit" class="form-control" type="text"
                            formControlName="unit" />
                    </li>
                    <li class="list-group-item">Store Location:
                        <span *ngIf="!editProductFlag">{{product.storeLocation}}</span>
                        <input *ngIf="editProductFlag" id="storeLocation" class="form-control" type="text"
                            formControlName="storeLocation" />
                    </li>
                    <li class="list-group-item">Ledger Page Number:
                        <span *ngIf="!editProductFlag">{{product.ledgerPageNumber}}</span>
                        <input *ngIf="editProductFlag" id="ledgerPageNumber" class="form-control" type="text"
                            formControlName="ledgerPageNumber" />
                    </li>
                    <li class="list-group-item">Category:
                        <span *ngIf="!editProductFlag">{{product.category}}</span>
                        <!-- <input *ngIf="editProductFlag" id="category" class="form-control" type="text"
                            formControlName="category" /> -->
                        <select class="form-select form-control" aria-label="Default select" *ngIf="editProductFlag"
                            id="category" formControlName="category">
                            <option selected>Select Category</option>
                            <option [selected]="cat._id===product.category" [value]="cat._id"
                                *ngFor="let cat of categorys; let i = index">{{cat.categoryName}}
                            </option>
                        </select>
                    </li>
                    <!-- <li class="list-group-item">Country:
                          <span *ngIf="!editProductFlag">{{product.country}}</span>
                          <input *ngIf="editProductFlag" id="country" class="form-control" type="text" formControlName="country">
                        </li> -->
                </ul>
            </form>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button type="button" class="btn btn-warning" (click)="cancel()">Cancel</button>
                <!-- <button type="button" class="btn btn-info">Info</button> -->
                <button type="button" class="btn btn-primary pull-right" (click)="saveProduct(productForm.value)">Save
                    Product</button>
            </div>
            <br><br>
        </div>
    </div>
</div>