<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light drop-shadow" *ngIf="!loginMenu">
  <div class="container-fluid">
    <a class="navbar-brand  bold-600 d-none d-sm-none d-lg-block d-xl-block d-md-block" routerLink="/dashboard"
      routerLinkActive="active">Vishwayoddha
      Shetkari
      Multitrade</a>
    <a class="navbar-brand  bold-600 d-block d-lg-none d-xl-none d-md-none" routerLink="/dashboard"
      routerLinkActive="active">Vishwayoddha
      Multitrade</a>
    <!-- <a class="navbar-brand" href="#">Navbar</a> -->
    <button class="navbar-toggler" type="button" #mobileToggle data-bs-toggle="collapse"
      data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
      aria-label="Toggle navigation" *ngIf="!loginMenu">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02" *ngIf="!loginMenu">
      <ul class="d-none d-sm-none d-lg-flex d-md-none navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link mx-1" aria-current="page" routerLink="/dashboard" routerLinkActive="active"><i
              class="bi bi-house"></i> Dashbord</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link mx-1 dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false"><i class="bi bi-journal"></i>
            Reports
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="/purchase-order-reports"><i class="bi bi-card-list"></i>
                Purchase Order
                Report</a></li>
            <li><a class="dropdown-item" routerLink="/work-order-reports"><i class="bi bi-card-list"></i>
                Work Order
                Report</a></li>
            <li><a class="dropdown-item" routerLink="/purchase-reports"><i class="bi bi-card-list"></i>
                Purchase
                Report</a></li>
            <li><a class="dropdown-item" routerLink="/stock-wise-reports"><i class="bi bi-card-list"></i> Stock Wise
                Report</a></li>
            <li><a class="dropdown-item" routerLink="/job-wise-consumption-reports"><i class="bi bi-card-list"></i>
                Job Wise Consumption Report</a></li>
            <li><a class="dropdown-item" routerLink="/product-wise-consumption-reports"><i class="bi bi-card-list"></i>
                Product Wise Consumption Report</a></li>
            <li><a class="dropdown-item" routerLink="/vehicle-wise-consumption-report"><i class="bi bi-card-list"></i>
                Vehicle wise Consumption Report</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-1" aria-current="page" routerLink="/accounts" routerLinkActive="active"><i
              class="bi bi-people"></i> Accounts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-1" aria-current="page" routerLink="/products" routerLinkActive="active"><i
              class="bi bi-box"></i>
            Products</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link mx-1" aria-current="page" routerLink="/transactions" routerLinkActive="active"><i
              class="bi bi-boxes"></i>Parts</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="/transactions"><i class="bi bi-journal-check"></i>Parts Inward</a>
            </li>
            <li><a class="dropdown-item" routerLink="/transactions"><i class="bi bi-journal-check"></i>
                Parts Outward</a>
            </li>
          </ul>
        </li> -->
        <li class="nav-item dropdown">
          <a class="nav-link mx-1 dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false"><i class="bi bi-clipboard2-check"></i>
            Parts
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="/transactions"><i class="bi bi-journal-check"></i>Part Inwards</a>
            </li>
            <li><a class="dropdown-item" routerLink="/out-transactions"><i class="bi bi-journal-check"></i>
                Part Outwards</a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-1" aria-current="page" routerLink="/jobs" routerLinkActive="active"><i
              class="bi bi-tools"></i>
            Jobs</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link mx-1 dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false"><i class="bi bi-clipboard2-check"></i>
            Orders
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="/purchase-order"><i class="bi bi-journal-check"></i> Purchase
                Orders</a>
            </li>
            <li><a class="dropdown-item" routerLink="/work-orders"><i class="bi bi-journal-check"></i>
                Work
                Orders</a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-1" aria-current="page" routerLink="/groups" routerLinkActive="active"><i
              class="bi bi-columns-gap"></i> Groups</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-1" aria-current="page" routerLink="/categorys" routerLinkActive="active"><i
              class="bi bi-layout-text-sidebar-reverse"></i> Category</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-1" aria-current="page" routerLink="/vehicles" routerLinkActive="active"><i
              class="bi bi-bus-front-fill"></i> Vehicles</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link mx-1 dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false"><i class="bi bi-gear"></i>
            Settings
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" (click)="backup()"><i class="bi bi-database-fill-down"></i>
                Backup</a></li>
          </ul>
        </li>
      </ul>
      <ul class="d-flex d-lg-none d-xl-none d-md-flex navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item" (click)="toggleMenu()">
          <a class="nav-link mx-1" aria-current="page" routerLink="/dashboard" routerLinkActive="active"><i
              class="bi bi-house"></i> Dashbord</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link mx-1 dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false"><i class="bi bi-journal"></i>
            Reports
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li (click)="toggleMenu()"><a class="dropdown-item" routerLink="/purchase-reports"><i
                  class="bi bi-card-list"></i> Purchase
                Report</a></li>
            <li (click)="toggleMenu()"><a class="dropdown-item" routerLink="/stock-wise-reports"><i
                  class="bi bi-card-list"></i> Stock Wise
                Report</a></li>
            <li (click)="toggleMenu()"><a class="dropdown-item" routerLink="/job-wise-consumption-reports"><i
                  class="bi bi-card-list"></i>
                Job Wise Consumption Report</a></li>
            <li (click)="toggleMenu()"><a class="dropdown-item" routerLink="/product-wise-consumption-reports"><i
                  class="bi bi-card-list"></i>
                Product Wise Consumption Report</a></li>
            <li (click)="toggleMenu()"><a class="dropdown-item" routerLink="/vehicle-wise-consumption-report"><i
                  class="bi bi-card-list"></i>
                Vehicle wise Consumption Report</a></li>
          </ul>
        </li>
        <li class="nav-item" (click)="toggleMenu()">
          <a class="nav-link mx-1" aria-current="page" routerLink="/accounts" routerLinkActive="active"><i
              class="bi bi-people"></i> Accounts</a>
        </li>
        <li class="nav-item" (click)="toggleMenu()">
          <a class="nav-link mx-1" aria-current="page" routerLink="/products" routerLinkActive="active"><i
              class="bi bi-box"></i>
            Products</a>
        </li>
        <li class="nav-item" (click)="toggleMenu()">
          <a class="nav-link mx-1" aria-current="page" routerLink="/transactions" routerLinkActive="active"><i
              class="bi bi-boxes"></i>Parts</a>
        </li>
        <li class="nav-item" (click)="toggleMenu()">
          <a class="nav-link mx-1" aria-current="page" routerLink="/jobs" routerLinkActive="active"><i
              class="bi bi-tools"></i>
            Jobs</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link mx-1 dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false"><i class="bi bi-clipboard2-check"></i>
            Orders
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li (click)="toggleMenu()"><a class="dropdown-item" routerLink="/purchase-order"><i
                  class="bi bi-journal-check"></i> Purchase
                Orders</a>
            </li>
            <li (click)="toggleMenu()"><a class="dropdown-item" routerLink="/work-orders"><i
                  class="bi bi-journal-check"></i> Work
                Orders</a>
            </li>
          </ul>
        </li>
        <li class="nav-item" (click)="toggleMenu()">
          <a class="nav-link mx-1" aria-current="page" routerLink="/groups" routerLinkActive="active"><i
              class="bi bi-columns-gap"></i> Groups</a>
        </li>
        <li class="nav-item" (click)="toggleMenu()">
          <a class="nav-link mx-1" aria-current="page" routerLink="/categorys" routerLinkActive="active"><i
              class="bi bi-layout-text-sidebar-reverse"></i> Category</a>
        </li>
        <li class="nav-item" (click)="toggleMenu()">
          <a class="nav-link mx-1" aria-current="page" routerLink="/vehicles" routerLinkActive="active"><i
              class="bi bi-bus-front-fill"></i> Vehicles</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link mx-1 dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false"><i class="bi bi-gear"></i>
            Settings
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li (click)="toggleMenu()"><a class="dropdown-item" (click)="backup()"><i
                  class="bi bi-database-fill-down"></i> Backup</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="position-fixed top-10 end-0 p-3" style="z-index: 9999">
  <div #toast class="toast" role="alert" data-bs-animation="true" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <!-- <i class="bi bi-card-checklist"></i> -->
      <i class="bi bi-window rounded me-2 text-success"></i>
      &nbsp;
      <strong class="me-auto text-success">Back Up</strong>
      <small>just now</small>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body text-success">
      DB Back Up successfully.
    </div>
  </div>
</div>
<!-- <div class="alert alert-primary" role="alert">
  <div class="container">
    Helpline No: 9028808344 / 9130054441
  </div>
</div> -->