<br>
<div class="row">
    <!-- <div class="col-2">
        <app-menus></app-menus>
    </div> -->
    <div class="col-12">
        <div *ngIf="!showNewWorkOrderForm">
            <h2>Work Orders</h2>
            <hr>
            <div class="col-12 mt-1">
                <br>
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <button class="nav-link" id="nav-home-tab" data-bs-toggle="tab" (click)="getAllProducts()"
                            data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home"
                            aria-selected="true">Products with Low Quantity</button>
                        <button class="nav-link active" id="nav-profile-tab" data-bs-toggle="tab"
                            data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile"
                            (click)="getAllOrders()" aria-selected="false">Work Order List</button>
                        <!-- <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab"
                                            data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact"
                                            aria-selected="false">Contact</button> -->
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fademt-5" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                        <br>
                        <div class="row">
                            <div class="col-12">
                                <div class="responsive-table">
                                    <table class="table table-striped table-hover table-sm" id="excel-table">
                                        <thead>
                                            <tr>
                                                <th width="50" scope="col"><input class="form-check-input"
                                                        [(ngModel)]="selectAll" type="checkbox" (change)="checkAll()"
                                                        value="All">
                                                </th>
                                                <th scope="col" width="50">#</th>
                                                <th scope="col">Part No</th>
                                                <th scope="col">Part Name</th>
                                                <th scope="col">Qty</th>
                                                <th scope="col">Supplier</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let product of productsWithLowQty; let i=index">
                                                <td scope="col" width="50"><input class="form-check-input"
                                                        type="checkbox" (change)="product.checked = !product.checked"
                                                        [checked]="product.checked" value="product.checked"></td>
                                                <th width="50" scope="row">{{i+1}}</th>
                                                <td>{{product.partNumber}}</td>
                                                <td>{{product.partName}}</td>
                                                <td>{{product.quantity}}</td>
                                                <td>{{product.supplierName}}</td>
                                            </tr>
                                            <tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="row">
                                    <div class="text-end col-12 mt-2">
                                        <button type="button" class="btn btn-warning" (click)="addToWorkOrder()">
                                            Add to Purchase Order
                                        </button>
                                    </div>
                                </div>
                                <br><br>
                            </div>
                            <div class="col-4"></div>
                        </div>
                    </div>
                    <div class="tab-pane fade  show active " id="nav-profile" role="tabpanel"
                        aria-labelledby="nav-profile-tab">
                        <br>
                        <div class="row">
                            <div class="col-4">
                                <!-- <span>filter</span> -->
                                <!-- <input placeholder="Filter By Part No or Part Name" type="text" class="form-control"
                                                            [(ngModel)]="partNo"> -->
                            </div>
                            <div class="col-8">
                                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                    <button type="button" class="btn btn-warning" (click)="exportToExcel()"> <i
                                            class="bi bi-box-arrow-in-down"></i> Export
                                        Work Orders</button>
                                    <button type="button" class="btn btn-primary pull-right"
                                        (click)="newWorkOrder()">New Work
                                        Order
                                    </button>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="col-12">
                            <table class="table table-striped table-hover" id="excel-table">
                                <thead>
                                    <tr>
                                        <th scope="col" width="50">#</th>
                                        <th scope="col" width="100">Order No</th>
                                        <th scope="col" width="100">Order Date</th>
                                        <th scope="col">Service Provider Name</th>
                                        <th scope="col" width="150">Total Quantity</th>
                                        <th scope="col" width="100">Order Status</th>

                                        <th scope="col" width="200">Action</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <tr *ngFor="let order of workOrders;let i=index">
                                        <th scope=" row" width="50">{{i+1}}</th>
                                        <td width="100">{{order.workOrderNumber}}</td>
                                        <td width="100">{{order.date}}</td>
                                        <td>{{order.serviceProviderName}}</td>
                                        <td width="150">{{order.totalQuantity}}</td>
                                        <td width="100"
                                            [ngClass]="{'text-success': order.status === 'Complete', 'text-primary': order.status === 'Pending'}">
                                            {{order.status}}</td>

                                        <td width="200">
                                            <i class="bi bi-pencil-square" (click)="editWorkOrder(order)"
                                                title="Edit"></i>&nbsp;&nbsp;
                                            <i class="bi bi-trash3" (click)="delete(order._id)"
                                                *ngIf="order.status !== 'Complete'" title="Delete"></i>&nbsp;&nbsp;
                                            <i class="bi bi-check-lg" *ngIf="order.status !== 'Complete'"
                                                [ngClass]="{'complete': order.status === 'Complete', 'pending': order.status === 'Pending'}"
                                                (click)="completeOrder(order)" title="Click to Complete"></i>
                                            <!--                                 
                                                            <button type="button" class="btn btn-success pull-right" (click)="completeOrder(order)"
                                                                *ngIf="order.status !== 'Complete'">Complete</button> -->
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <hr>
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            Total Work Orders: {{workOrders.length}}&nbsp;&nbsp;
                            <!-- <nav aria-label="Page navigation example">
                                <ul class="pagination">
                                    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                                </ul>
                            </nav> -->
                        </div>
                    </div>
                    <!-- <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                                        ...</div> -->
                </div>
            </div>

        </div>
        <div *ngIf="showNewWorkOrderForm">
            <h2>Work Order </h2>
            <hr>
            <form [formGroup]="workOrderForm">
                <div class="row">
                    <div class="col-2">
                        Work Order No
                        <input class="form-control text-end" type="number" readonly formControlName="workOrderNumber" />
                    </div>
                    <div class="col-3">
                        Service Provider Name
                        <ng-autocomplete [data]="accounts" [searchKeyword]="'accountName'"
                            placeholder="Select Service Provider" [itemTemplate]="itemTemplate"
                            [notFoundTemplate]="notFoundTemplate" (selected)='setSupplier($event)'
                            formControlName="serviceProviderName">
                        </ng-autocomplete>
                        <ng-template #itemTemplate let-item>
                            <a [innerHTML]="item.accountName"></a>
                        </ng-template>
                        <ng-template #notFoundTemplate let-notFound>
                            <div [innerHTML]="notFound"></div>
                        </ng-template>
                    </div>
                    <div class="col-2">
                        Order Date
                        <input class="form-control" type="date" formControlName="date" />
                    </div>
                    <div class="col-2">
                        <br>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#addNewProduct">
                            Add New Product
                        </button>
                    </div>

                </div>
                <br>
                <!-- *ngIf="workOrderForm.value.serviceProviderName" -->
                <div class="row">
                    <div class="col-2">
                        Part No
                        <!-- <input class="form-control" type="text" formControlName="partNo" /> -->
                        <!-- <select class="form-select form-control" (change)="setProductField()" aria-label="Default select"
                                        id="partNo" formControlName="partNo">
                                        <option value="" disabled selected>Select Part No</option>
                                        <option [value]="product.partNumber" *ngFor="let product of products; let i = index">
                                            {{product.partNumber}}
                                        </option>
                                    </select> -->
                        <ng-autocomplete #partNo [data]="products" formControlName="partNo"
                            [searchKeyword]="'partNumber'" placeholder="Select Part No" [itemTemplate]="partNoTemplate"
                            [initialValue]="selectedProduct" [notFoundTemplate]="notFoundTemplate"
                            (selected)='setPartNo($event)'>
                        </ng-autocomplete>
                        <ng-template #partNoTemplate let-item>
                            <a [innerHTML]="item.partNumber"></a>
                        </ng-template>

                    </div>
                    <div class="col-2">
                        Part Name
                        <ng-autocomplete [data]="products" formControlName="partName" [searchKeyword]="'partName'"
                            [initialValue]="selectedProduct" placeholder="Select Part Name"
                            [itemTemplate]="partNameTemplate" [notFoundTemplate]="notFoundTemplate"
                            (selected)='setPartName($event)'>
                        </ng-autocomplete>
                        <ng-template #partNameTemplate let-item>
                            <a [innerHTML]="item.partName"></a>
                        </ng-template>
                    </div>
                    <div class="col-1">
                        Quantity
                        <input class="form-control" type="number" formControlName="quantity" />
                    </div>
                    <div class="col-1">
                        Unit
                        <input class="form-control" type="text" formControlName="unit" />
                    </div>
                    <div class="col-1">
                        Rate
                        <input class="form-control" type="number" formControlName="rate" />
                    </div>
                    <div class="col-2">
                        Last GST%
                        <input class="form-control" type="number" (blur)="addData()" formControlName="gst" />
                    </div>
                    <div class="col-2">
                        <!-- <br>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#addNewProduct">
                            Add New Product
                        </button> -->
                    </div>


                </div>
                <!-- <br> -->
                <div class="col-lg-2 col-xs-12">
                    <!-- <button type="button" class="btn btn-warning" (click)="cancelUpdate()">Cancel</button>&nbsp; -->
                    <!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                        data-bs-target="#addNewProduct">
                        Add New Product
                    </button> -->

                </div>
                <div class="modal fade" id="addNewProduct" tabindex="-1" aria-labelledby="addNewProductLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="addNewProductLabel">New Product</h5>
                                <button type="button" #close class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form [formGroup]="productForm">
                                    <div class="row">
                                        <div class="col-lg-3 col-xs-12">
                                            Part Number:
                                            <input id="partNumber" class="form-control" type="text"
                                                formControlName="partNumber" />
                                        </div>
                                        <div class="col-lg-3 col-xs-12">
                                            Part Name:
                                            <input id="partName" class="form-control" type="text"
                                                formControlName="partName" />
                                        </div>
                                        <div class="col-lg-3 col-xs-12">
                                            Rate:
                                            <input id="saleRate" class="form-control" type="text"
                                                formControlName="saleRate" />
                                        </div>
                                        <div class="col-lg-3 col-xs-12">
                                            Quantity:
                                            <input id="quantity" class="form-control" type="text"
                                                formControlName="quantity" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-3 col-xs-12">
                                            Unit:
                                            <input id="unit" class="form-control" type="text" formControlName="unit" />
                                        </div>
                                        <div class="col-lg-3 col-xs-12">
                                            Store Location:
                                            <input id="storeLocation" class="form-control" type="text"
                                                formControlName="storeLocation" />
                                        </div>
                                        <div class="col-lg-3 col-xs-12">
                                            Ledger Page Number:
                                            <input id="ledgerPageNumber" class="form-control" type="text"
                                                formControlName="ledgerPageNumber" />
                                        </div>
                                        <div class="col-lg-3 col-xs-12">
                                            Category:
                                            <select class="form-select form-control" aria-label="Default select"
                                                id="category" formControlName="category">
                                                <option selected>Select Category</option>
                                                <option [value]="cat._id" *ngFor="let cat of categories; let i = index">
                                                    {{cat.categoryName}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button #close type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                                    (click)="cancel()" #closebutton>Close</button>
                                <button type="button" class="btn btn-primary" (click)="saveProduct()">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row" *ngIf="workOrderForm.value.serviceProviderName">
                    <div class="col-12">
                        <hr>
                        <table class="table table-striped table-hover" id="excel-table">
                            <thead>
                                <tr>
                                    <th scope="col" width="50">#</th>
                                    <th scope="col">Part No</th>
                                    <th scope="col" width="250">Part Name</th>
                                    <th scope="col" class="text-right">Last Rate</th>
                                    <th scope="col" class="text-right">Qty</th>
                                    <th scope="col">Unit</th>
                                    <th scope="col" class="text-right">GST</th>
                                    <!-- <th scope="col" class="text-right">Dis%</th>
                                                                    <th scope="col" class="text-right">Dis AMT</th>
                                                                    <th scope="col" class="text-right">Gross</th>
                                                                    <th scope="col" class="text-right">SGST%</th>
                                                                    <th scope="col" class="text-right">SGST Amt</th>
                                                                    <th scope="col" class="text-right">CGST%</th>
                                                                    <th scope="col" class="text-right">CGST Amt</th> -->
                                    <!-- <th scope="col" class="text-right">Net Amount</th> -->
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let pi of partsData;let i=index">
                                    <th scope="row" width="50">{{i+1}}</th>
                                    <td>{{pi.partNo}}</td>
                                    <td width="250">{{pi.partName}}</td>
                                    <td class="text-right">{{pi.rate}}</td>
                                    <td class="text-right">{{pi.quantity}}</td>
                                    <td>{{pi.unit}}</td>

                                    <!-- <td class="text-right">{{pi.discountPercentage}}%</td>
                                                                    <td class="text-right">{{pi.discount}}</td>
                                                                    <td class="text-right">{{pi.grossAmount}}</td>
                                                                    <td class="text-right">{{pi.sgstPercentage}}%</td>
                                                                    <td class="text-right">{{pi.sgstAmount}}</td>
                                                                    <td class="text-right">{{pi.cgstPercentage}}%</td>
                                                                    <td class="text-right">{{pi.cgstAmount}}</td> -->
                                    <td class="text-right">{{pi.gst}}%</td>
                                    <td>
                                        <i class="bi bi-pencil-square" (click)="editData(i)"></i>&nbsp;
                                        <i class="bi bi-trash3" (click)="deleteData(i)"></i>
                                    </td>
                                </tr>
                                <tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-6">
                        <strong>Order Description</strong><br>
                        <textarea class="form-control" id="comment" formControlName="comment" rows="3"></textarea>
                        <br>
                    </div>
                    <div class="col-6"></div>
                    <div class="col-12">
                        <strong>Order Details</strong><br>
                        <form [formGroup]="assemblesForm" novalidate>
                            <div class="row">
                                <div class="col-2">
                                    Select Vehicle
                                    <ng-autocomplete [data]="vehicles" [searchKeyword]="'vehicleNumber'"
                                        placeholder="Select Vehicle" [itemTemplate]="itemTemplate1"
                                        [notFoundTemplate]="notFoundTemplate" (selected)='setVehicle($event)'
                                        formControlName="vehicle">
                                    </ng-autocomplete>
                                    <ng-template #itemTemplate1 let-item>
                                        <a [innerHTML]="item.vehicleNumber"></a>
                                    </ng-template>
                                    <ng-template #notFoundTemplate let-notFound>
                                        <div [innerHTML]="notFound"></div>
                                    </ng-template>
                                </div>
                                <div class="col-2">
                                    Starter Motor
                                    <input class="form-control text-end" type="number" formControlName="starterMotor" />
                                </div>
                                <div class="col-2">
                                    Alternator Assy
                                    <input class="form-control text-end" type="number"
                                        formControlName="alternatorAssy" />
                                </div>
                                <div class="col-2">
                                    Clutch Booster
                                    <input class="form-control text-end" type="number"
                                        formControlName="clutchBooster" />
                                </div>
                                <div class="col-2">
                                    Brake Booster
                                    <input class="form-control text-end" type="number" formControlName="brakeBooster" />
                                </div>
                                <div class="col-2"></div>
                                <div class="col-2">
                                    Vane Pump
                                    <input class="form-control text-end" type="number" formControlName="vanePump" />
                                </div>
                                <div class="col-2">
                                    Air Comp Assy
                                    <input class="form-control text-end" type="number" formControlName="airCompAssy" />
                                </div>
                                <div class="col-2">
                                    Radiator Assy
                                    <input class="form-control text-end" type="number" formControlName="radiatorAssy" />
                                </div>
                                <div class="col-2">
                                    Other Charges
                                    <select class="form-select" aria-label="Default select example"
                                        formControlName="otherCharges">
                                        <option selected value="">Other Charges</option>
                                        <option value="weldingWork">Welding Work</option>
                                        <option value="pressFittingAssy">Press Fitting Assy</option>
                                        <option value="bracketRepaired">Bracket Repaired</option>
                                        <option value="radiatorMounting">Radiator Mounting Cutting/Welding</option>
                                        <option value="roadSpring">Road Spring Bending and Fitting</option>
                                        <option value="srpingBrush">Spring Brush Fitting</option>
                                        <option value="cngPipe">CNG Pipe Socket Fitting</option>
                                        <option value="steeringFitting">Steering Pipe Socket Fitting</option>
                                        <option value="waterFitting">Water Pipe Socket Fitting</option>
                                        <option value="flyWheel">Fly Wheel Cutting</option>
                                        <option value="gasWelding">Gas Welding</option>
                                    </select>
                                </div>
                                <div class="col-2">
                                    Amount
                                    <input class="form-control text-end" type="number"
                                        [readonly]="assemblesForm.value.otherCharges ===''" formControlName="amount" />
                                </div>
                                <div class="col-4">
                                    Remark
                                    <input class="form-control text-end" type="text" formControlName="remark" />
                                </div>
                                <div class="col-2 text-end">
                                    <br>
                                    <button type="button" class="btn btn-warning" (click)="reset()">Clear</button>&nbsp;
                                    <button type="button" class="btn btn-primary" (click)="saveAssembles()">Add</button>
                                </div>
                            </div>
                        </form>
                        <div class="table-responsive table-custom" *ngIf="assemblesData.length > 0">
                            <br>
                            <table class="table table-striped table-hover table-sm">
                                <thead>
                                    <tr>
                                        <th width="50">#</th>
                                        <!-- <th width="100">Order No.</th> -->
                                        <th>Vehicle No.</th>
                                        <th>Starter Motor</th>
                                        <th>Alternator Assy</th>
                                        <th>Clutch Booster</th>
                                        <th>Brake Booster</th>
                                        <th>Vane Pump</th>
                                        <th>Air Comp Assy</th>
                                        <th>Radiator Assy</th>
                                        <th>Other Charges</th>
                                        <th>Amount</th>
                                        <th>Remark</th>
                                        <th>Action</th>
                                    </tr>

                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of assemblesData; let i=index">
                                        <th width="50">{{i+1}}</th>
                                        <!-- <td width="100">{{item.workOrderNumber}}</td> -->
                                        <td>{{item.vehicle.vehicleNumber}}</td>
                                        <td>{{item.starterMotor}}</td>
                                        <td>{{item.alternatorAssy}}</td>
                                        <td>{{item.clutchBooster}}</td>
                                        <td>{{item.brakeBooster}}</td>
                                        <td>{{item.vanePump}}</td>
                                        <td>{{item.airCompAssy}}</td>
                                        <td>{{item.radiatorAssy}}</td>
                                        <td>{{otherCharges[item.otherCharges]}}</td>
                                        <td>{{item.amount}}</td>
                                        <td>{{item.remark}}</td>
                                        <td>
                                            <i class="bi bi-pencil-square" (click)="editAssembles(item, i)"
                                                title="Edit"></i>&nbsp;&nbsp;
                                            <i class="bi bi-trash3" (click)="deleteAssembles(i)" title="Delete"></i>
                                        </td>
                                    </tr>
                                    <tr class="text-primary">
                                        <td width="50"></td>
                                        <td>Total</td>
                                        <td>{{assemblesDataTotal['starterMotor']}}</td>
                                        <td>{{assemblesDataTotal['alternatorAssy']}}</td>
                                        <td>{{assemblesDataTotal['clutchBooster']}}</td>
                                        <td>{{assemblesDataTotal['brakeBooster']}}</td>
                                        <td>{{assemblesDataTotal['vanePump']}}</td>
                                        <td>{{assemblesDataTotal['airCompAssy']}}</td>
                                        <td>{{assemblesDataTotal['radiatorAssy']}}</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr class="text-primary">
                                        <td width="50"></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>Grand Total</td>
                                        <td>{{totalAssy}}</td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-12">
                        <hr>
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            <button type="button" class="btn btn-warning" (click)="cancel()">Go To List</button>
                            <button type="button" class="btn btn-primary pull-right" (click)="saveWorkOrder()"
                                [disabled]="!workOrderForm.value.serviceProviderName || partsData.length===0">Save
                            </button>
                            <button type="button" class="btn btn-success pull-right" (click)="printOrder()"
                                [disabled]="!workOrderForm.value.serviceProviderName || partsData.length===0">Print</button>
                        </div>
                        <div class="toast-body text-success text-end" *ngIf="showMessage">
                            Work order saved successfully.
                        </div>
                    </div>
                </div>
                <br>

            </form>


            <br><br>
        </div>

        <!-- <div *ngIf="false">
            <h2>Details of Assembles and Vehicles</h2>
            <br>
            <form [formGroup]="assemblesForm" novalidate>
                <div class="row">
                    <div class="col-2">
                        Select Vehicle
                        <ng-autocomplete [data]="vehicles" [searchKeyword]="'vehicleNumber'"
                            placeholder="Select Vehicle" [itemTemplate]="itemTemplate1"
                            [notFoundTemplate]="notFoundTemplate" (selected)='setVehicle($event)'
                            formControlName="vehicle">
                        </ng-autocomplete>
                        <ng-template #itemTemplate1 let-item>
                            <a [innerHTML]="item.vehicleNumber"></a>
                        </ng-template>
                        <ng-template #notFoundTemplate let-notFound>
                            <div [innerHTML]="notFound"></div>
                        </ng-template>
                    </div>
                    <div class="col-2">
                        Starter Motor
                        <input class="form-control text-end" type="text" formControlName="starterMotor" />
                    </div>
                    <div class="col-2">
                        Alternator Assy
                        <input class="form-control text-end" type="text" formControlName="alternatorAssy" />
                    </div>
                    <div class="col-2">
                        Clutch Booster
                        <input class="form-control text-end" type="text" formControlName="clutchBooster" />
                    </div>
                    <div class="col-2">
                        Brake Booster
                        <input class="form-control text-end" type="text" formControlName="brakeBooster" />
                    </div>
                    <div class="col-2">
                        Vane Pump
                        <input class="form-control text-end" type="text" formControlName="vanePump" />
                    </div>
                    <div class="col-2">
                        Air Comp Assy
                        <input class="form-control text-end" type="text" formControlName="airCompAssy" />
                    </div>
                    <div class="col-2">
                        Radiator Assy
                        <input class="form-control text-end" type="text" formControlName="radiatorAssy" />
                    </div>
                    <div class="col-2">
                        Remark
                        <input class="form-control text-end" type="text" formControlName="remark" />
                    </div>
                    <div class="col-2">
                        <br>
                        <button type="button" class="btn btn-warning" (click)="reset()">Clear</button>&nbsp;
                        <button type="button" class="btn btn-primary" (click)="saveAssembles()">Save</button>
                    </div>
                </div>
            </form>
            <div class="table-responsive table-custom" *ngIf="assemblesData.length>0">
                <br>
                <table class="table table-striped table-hover table-sm">
                    <thead>
                        <tr>
                            <th width="50">#</th>
                            <th width="100">Order No.</th>
                            <th>Vehicle No.</th>
                            <th>Starter Motor</th>
                            <th>Alternator Assy</th>
                            <th>Clutch Booster</th>
                            <th>Brake Booster</th>
                            <th>Vane Pump</th>
                            <th>Ais Comp Assy</th>
                            <th>Radiator Assy</th>
                            <th>Remark</th>
                        </tr>

                    </thead>
                    <tbody>
                        <tr *ngFor="let item of assemblesData; let i=index">
                            <th width="50">{{i+1}}</th>
                            <td width="100">{{item.workOrderNumber}}</td>
                            <td>{{item.vehicle.vehicleNumber}}</td>
                            <td>{{item.starterMotor}}</td>
                            <td>{{item.alternatorAssy}}</td>
                            <td>{{item.clutchBooster}}</td>
                            <td>{{item.brakeBooster}}</td>
                            <td>{{item.vanePump}}</td>
                            <td>{{item.airCompAssy}}</td>
                            <td>{{item.radiatorAssy}}</td>
                            <td>{{item.remark}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <br>
            <br>
        </div> -->
        <div class="position-fixed top-10 end-0 p-3" style="z-index: 9999">
            <div #toast class="toast" role="alert" data-bs-animation="true" aria-live="assertive" aria-atomic="true">
                <div class="toast-header">
                    <!-- <i class="bi bi-card-checklist"></i> -->
                    <i class="bi bi-window rounded me-2 text-success"></i>
                    &nbsp;
                    <strong class="me-auto text-success">Order</strong>
                    <small>just now</small>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body text-success">
                    Order Placed successfully.
                </div>
            </div>
        </div>
    </div>
</div>