<div class="list-group">
    <a href="#" class="list-group-item list-group-item-action" [ngClass]="{'active': activeMenu === 'dashboard'}"
        routerLink="/dashboard">Dashboard</a>
    <a href="#" class="list-group-item list-group-item-action" [ngClass]="{'active': activeMenu === 'accounts'}"
        routerLink="/accounts">Accounts</a>
    <a href="#" class="list-group-item list-group-item-action" [ngClass]="{'active': activeMenu === 'products'}"
        routerLink="/products">Porducts</a>
    <a href="#" class="list-group-item list-group-item-action" [ngClass]="{'active': activeMenu === 'transactions'}"
        routerLink="/transactions">Parts Inward</a>
    <a href="#" class="list-group-item list-group-item-action" [ngClass]="{'active': activeMenu === 'jobs'}"
        routerLink="/jobs">Jobs</a>
    <a href="#" class="list-group-item list-group-item-action" [ngClass]="{'active': activeMenu === 'purchase-order'}"
        routerLink="/purchase-order">Purchase Orders</a>
    <a href="#" class="list-group-item list-group-item-action" [ngClass]="{'active': activeMenu === 'work-orders'}"
        routerLink="/work-orders">Work Orders</a>
    <a href="#" class="list-group-item list-group-item-action" [ngClass]="{'active': activeMenu === 'groups'}"
        routerLink="/groups">Groups</a>
    <a href="#" class="list-group-item list-group-item-action" [ngClass]="{'active': activeMenu === 'categorys'}"
        routerLink="/categorys">Category</a>
    <a href="#" class="list-group-item list-group-item-action" [ngClass]="{'active': activeMenu === 'vehicles'}"
        routerLink="/vehicles">Vehicles</a>

</div>