tbody {
    display: block;
    max-height: 500px;
    overflow-y: auto;
}

thead,
tbody tr {
    display: table;
    width: 100%; //var(--table-width);
    table-layout: fixed;
}

thead {
    width: 99%;
}

table {
    font-size: 10pt;
}

.table-borderless {
    font-size: 12pt;
}

.complete {
    color: green;
}

.pending {
    color: red;
}