<br>
<div class="row">
    <!-- <div class="col-2">
        <app-menus></app-menus>
    </div> -->
    <div class="col-12">
        <div *ngIf="!showNewSupplyOrderForm">
            <h2>Purchase Orders</h2>
            <div class="row">
                <div class="col-12 mt-1">
                    <br>
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <button class="nav-link" id="nav-home-tab" data-bs-toggle="tab" (click)="getAllProducts()"
                                data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home"
                                aria-selected="true">Products with Low Quantity</button>
                            <button class="nav-link active" id="nav-profile-tab" data-bs-toggle="tab"
                                data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile"
                                (click)="getAllOrders()" aria-selected="false">Purchase Order List</button>
                            <!-- <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab"
                                data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact"
                                aria-selected="false">Contact</button> -->
                        </div>
                    </nav>
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fademt-5" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                            <br>
                            <div class="row">
                                <div class="col-8">
                                    <div class="responsive-table">
                                        <table class="table table-striped table-hover table-sm" id="excel-table">
                                            <thead>
                                                <tr>
                                                    <th scope="col"><input class="form-check-input"
                                                            [(ngModel)]="selectAll" type="checkbox"
                                                            (change)="checkAll()" value="All">
                                                    </th>
                                                    <th scope="col">#</th>
                                                    <th scope="col">Part No</th>
                                                    <th scope="col">Part Name</th>
                                                    <th scope="col">Qty</th>
                                                    <th scope="col">Supplier</th>

                                                    <!-- <th scope="col">Rate</th>
                                                                                                    <th scope="col">Unit</th>
                                                                                                    <th scope="col">Location</th>
                                                                                                    <th scope="col">Page No</th> -->
                                                    <!-- <th scope="col">Action</th> -->
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let product of productsWithLowQty;let i=index">
                                                    <td scope="col"><input class="form-check-input" type="checkbox"
                                                            (change)="product.checked = !product.checked"
                                                            [checked]="product.checked" value="product.checked"></td>
                                                    <th scope="row">{{i+1}}</th>
                                                    <td>{{product.partNumber}}</td>
                                                    <td>{{product.partName}}</td>
                                                    <td>{{product.quantity}}</td>
                                                    <td>{{product.supplierName}}</td>
                                                </tr>
                                                <tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="row">
                                        <div class="text-end col-12 mt-2">
                                            <button type="button" class="btn btn-warning" (click)="addToSupplyOrder()">
                                                Add to Purchase Order
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4"></div>
                            </div>
                        </div>
                        <div class="tab-pane fade  show active " id="nav-profile" role="tabpanel"
                            aria-labelledby="nav-profile-tab">
                            <br>
                            <div class="row">
                                <div class="col-4">
                                </div>
                                <div class="col-8">
                                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                        <button type="button" class="btn btn-warning" (click)="exportToExcel()"> <i
                                                class="bi bi-box-arrow-in-down"></i> Export
                                            Supply Orders</button>
                                        <button type="button" class="btn btn-primary pull-right"
                                            (click)="newSupplyOrder()">New Supply
                                            Order
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <hr>

                            <div class="col-10">
                                <table class="table table-striped table-hover" id="excel-table">
                                    <thead>
                                        <tr>
                                            <th scope="col" width="50">#</th>
                                            <th scope="col">Order No</th>
                                            <th scope="col">Order Date</th>
                                            <th scope="col">Supplier Name</th>
                                            <th scope="col">Total Quantity</th>
                                            <th scope="col">Order Status</th>
                                            <th scope="col" width="200">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        <tr *ngFor="let order of supplyOrders;let i=index">
                                            <th scope=" row" width="50">{{i+1}}</th>
                                            <td>{{order.supplyOrderNumber}}</td>
                                            <td>{{order.date}}</td>
                                            <td>{{order.supplierName}}</td>
                                            <td>{{order.totalQuantity}}</td>
                                            <td
                                                [ngClass]="{'text-success': order.status === 'Complete', 'text-primary': order.status === 'Pending'}">
                                                {{order.status}}</td>

                                            <td width="200">
                                                <i class="bi bi-pencil-square" (click)="editSupplyOrder(order)"
                                                    title="Edit"></i>&nbsp;&nbsp;
                                                <i class="bi bi-trash3" (click)="deleteSupplyOrder(order._id)"
                                                    title="Delete"></i>&nbsp;&nbsp;
                                                <i class="bi bi-check-circle" *ngIf="order.status !== 'Complete'"
                                                    [ngClass]="{'complete': order.status === 'Complete', 'pending': order.status === 'Pending'}"
                                                    (click)="completeOrder(order)" title="Click to Complete"></i>

                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination">
                                        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                        <li class="page-item"><a class="page-link" href="#">Next</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <!-- <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                            ...</div> -->
                    </div>
                </div>
            </div>

        </div>
        <div *ngIf="showNewSupplyOrderForm">
            <h2>Purchase Order </h2>
            <br>
            <form [formGroup]="supplyOrderForm">
                <div class="row">
                    <div class="col-2">
                        Purchase Order No
                        <input class="form-control text-end" type="number" readonly
                            formControlName="supplyOrderNumber" />
                    </div>
                    <div class="col-3">
                        Supplier Name
                        <ng-autocomplete [data]="accounts" [searchKeyword]="'accountName'" placeholder="Select Supplier"
                            [itemTemplate]="itemTemplate" [notFoundTemplate]="notFoundTemplate"
                            (selected)='setSupplier($event)' formControlName="supplierName">
                        </ng-autocomplete>
                        <ng-template #itemTemplate let-item>
                            <a [innerHTML]="item.accountName"></a>
                        </ng-template>
                        <ng-template #notFoundTemplate let-notFound>
                            <div [innerHTML]="notFound"></div>
                        </ng-template>
                    </div>
                    <div class="col-2">
                        Order Date
                        <input class="form-control" type="date" formControlName="date" />
                    </div>

                </div>
                <br>
                <div class="row" *ngIf="supplyOrderForm.value.supplierName">
                    <div class="col-2">
                        Part No
                        <!-- <input class="form-control" type="text" formControlName="partNo" /> -->
                        <!-- <select class="form-select form-control" (change)="setProductField()" aria-label="Default select"
                                        id="partNo" formControlName="partNo">
                                        <option value="" disabled selected>Select Part No</option>
                                        <option [value]="product.partNumber" *ngFor="let product of products; let i = index">
                                            {{product.partNumber}}
                                        </option>
                                    </select> -->
                        <ng-autocomplete #partNo [data]="products" formControlName="partNo"
                            [searchKeyword]="'partNumber'" placeholder="Select Part No" [itemTemplate]="partNoTemplate"
                            [initialValue]="selectedProduct" [notFoundTemplate]="notFoundTemplate"
                            (selected)='setPartNo($event)'>
                        </ng-autocomplete>
                        <ng-template #partNoTemplate let-item>
                            <a [innerHTML]="item.partNumber"></a>
                        </ng-template>

                    </div>
                    <div class="col-2">
                        Part Name
                        <ng-autocomplete [data]="products" formControlName="partName" [searchKeyword]="'partName'"
                            [initialValue]="selectedProduct" placeholder="Select Part Name"
                            [itemTemplate]="partNameTemplate" [notFoundTemplate]="notFoundTemplate"
                            (selected)='setPartName($event)'>
                        </ng-autocomplete>
                        <ng-template #partNameTemplate let-item>
                            <a [innerHTML]="item.partName"></a>
                        </ng-template>
                    </div>
                    <div class="col-1">
                        Quantity
                        <input class="form-control" type="number" formControlName="quantity" />
                    </div>
                    <div class="col-1">
                        Unit
                        <input class="form-control" type="text" formControlName="unit" />
                    </div>
                    <div class="col-1">
                        Rate
                        <input class="form-control" type="number" formControlName="rate" />
                    </div>
                    <div class="col-2">
                        Last GST%
                        <input class="form-control" type="number" (blur)="addData()" formControlName="gst" />
                    </div>

                </div>
                <br>
                <div class="row" *ngIf="supplyOrderForm.value.supplierName">
                    <div class="col-12">
                        <hr>
                        <table class="table table-striped table-hover" id="excel-table">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Part No</th>
                                    <th scope="col">Part Name</th>
                                    <th scope="col" class="text-right">Last Rate</th>
                                    <th scope="col" class="text-right">Qty</th>
                                    <th scope="col">Unit</th>
                                    <th scope="col" class="text-right">GST</th>
                                    <!-- <th scope="col" class="text-right">Dis%</th>
                                                                    <th scope="col" class="text-right">Dis AMT</th>
                                                                    <th scope="col" class="text-right">Gross</th>
                                                                    <th scope="col" class="text-right">SGST%</th>
                                                                    <th scope="col" class="text-right">SGST Amt</th>
                                                                    <th scope="col" class="text-right">CGST%</th>
                                                                    <th scope="col" class="text-right">CGST Amt</th> -->
                                    <!-- <th scope="col" class="text-right">Net Amount</th> -->
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let pi of partsData;let i=index">
                                    <th scope="row">{{i+1}}</th>
                                    <td>{{pi.partNo}}</td>
                                    <td>{{pi.partName}}</td>
                                    <td class="text-right">{{pi.rate}}</td>
                                    <td class="text-right">{{pi.quantity}}</td>
                                    <td>{{pi.unit}}</td>

                                    <!-- <td class="text-right">{{pi.discountPercentage}}%</td>
                                                                    <td class="text-right">{{pi.discount}}</td>
                                                                    <td class="text-right">{{pi.grossAmount}}</td>
                                                                    <td class="text-right">{{pi.sgstPercentage}}%</td>
                                                                    <td class="text-right">{{pi.sgstAmount}}</td>
                                                                    <td class="text-right">{{pi.cgstPercentage}}%</td>
                                                                    <td class="text-right">{{pi.cgstAmount}}</td> -->
                                    <td class="text-right">{{pi.gst}}%</td>
                                    <td>
                                        <i class="bi bi-pencil-square" (click)="editData(i)"></i>&nbsp;
                                        <i class="bi bi-trash3" (click)="deleteData(i)"></i>
                                    </td>
                                </tr>
                                <tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-6">
                        Order Description
                        <textarea class="form-control" id="comment" formControlName="comment" rows="3"></textarea>
                    </div>
                    <div class="col-6">
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            <button type="button" class="btn btn-warning" (click)="cancel()">Cancel</button>
                            <button type="button" class="btn btn-primary pull-right" (click)="saveSupplyOrder()"
                                [disabled]="!supplyOrderForm.value.supplierName">Save
                            </button>
                            <button type="button" class="btn btn-success pull-right" (click)="printOrder()"
                                [disabled]="!supplyOrderForm.value.supplierName">Print</button>
                        </div>
                    </div>
                </div>
                <br>

            </form>


            <br><br>
        </div>
        <div class="position-fixed top-10 end-0 p-3" style="z-index: 9999">
            <div #toast class="toast" role="alert" data-bs-animation="true" aria-live="assertive" aria-atomic="true">
                <div class="toast-header">
                    <!-- <i class="bi bi-card-checklist"></i> -->
                    <i class="bi bi-window rounded me-2 text-success"></i>
                    &nbsp;
                    <strong class="me-auto text-success">Order</strong>
                    <small>just now</small>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body text-success">
                    Order Placed successfully.
                </div>
            </div>
        </div>
    </div>
</div>